odb12v0_OG2genes.tab
TabFiles/amoebozoa.tab
TabFiles/ciliates.tab
TabFiles/DiscobaMetamonad.tab
TabFiles/Lepidoptera.tab
TabFiles/microsporidia.tab
TabFiles/Nematodes.tab
TabFiles/tardigrades.tab
TaxonLists/20251001_SomeMetazoa.txt
TaxonLists/All_Euk_species.txt
TaxonLists/amoebozoa.txt
TaxonLists/carps.txt
TaxonLists/ciliates.txt
TaxonLists/Complex_Portal_Taxonomy_Accessions.md
TaxonLists/DiscobaMetamonad.txt
TaxonLists/euk_iToL_taxid_4eggnog.txt
TaxonLists/Euk_subset_Allhands.txt
TaxonLists/Eukaryote_classes.txt
TaxonLists/EukaryoteGenuses.txt
TaxonLists/Eukaryotic_subset.txt
TaxonLists/iToL_taxid_4eggnog.txt
TaxonLists/Lepidoptera.txt
TaxonLists/LifeDomains2.nhx
TaxonLists/MarkGsheet.txt
TaxonLists/microsporidia.txt
TaxonLists/Nematoda.txt
TaxonLists/Nematodes.txt
TaxonLists/Protists(fromMarkGsheet)2.txt
TaxonLists/tardigrades.txt
TreeFiles/20250303_Eukaryotic_subset_corrected.nwk
TreeFiles/31_species_Eukaryotic_subset.nwk
TreeFiles/amoebozoa.nwk
TreeFiles/ciliates.nwk
TreeFiles/DiscobaMetamonada.nwk
TreeFiles/Euk_subset_Allhands.nwk
TreeFiles/Eukaryotic_subset.nwk
TreeFiles/Lepidoptera.nwk
TreeFiles/microsporidia.nwk
TreeFiles/Nematoda.nwk
TreeFiles/Nematodes.nwk
TreeFiles/tardigrade.nwk
Results/ciliates.tab_plot.svg
Results/Lepidoptera.tab_plot.svg
Results/Lepidoptera.tabpairs_plot.svg
Results/microsporidia.tab_plot.svg
Results/Nematodes.tab_plot.svg
Results/Nematodes.tabpairs_plot.svg
Results/Nematodes.tabtotals_plot.svg
Resources/Complexes2.csv
Resources/Uniprot_annotated_complexes.csv
Resources/*
/Resources/
